*{
    margin: 0;
    padding: 0;
    font-family: "poppins",sans-serif;
    box-sizing: border-box;
    
}
body{
    background-color: rgb(255, 255, 255);

   /* background-image: url("image/background1.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    */
}
.header{
    height: 10vh;
    width: 100%;
    padding: 0 4%;
    /*background: #080008;*/
    position: relative;
}
nav{
    
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 200px;
    margin-top: 2%;
    margin-left: 10% ;
}
.x1 {
    padding: 0 70px;
   

    display: inline-block;
    margin: 0 30px;


    font-size: 25px;
    text-decoration: none;
   /* color: burlywood;;*/
    color: rgb(5, 5, 5);
    padding: 15px 0;
    position: relative;
    transition: 0.3s;
}

.x1:hover{
    color: darkslateblue;
   
    font-size:x-large;
}
.aaa {
    float: center;
    animation: movedown 3s linear 1;
    cursor: pointer;
    
  
     
  }
  
  @keyframes movedown{
  0%{
    transform:scale(0.1) ;
  }
  25% {
    transform: translate(-100px);
  }
  
  60%{
    transform: scale(1);
  }
  100% {
    transform: translate(0px);
  }}
  

  
  























